.completion,
.date,
.options {
  padding: 1vh;
  font-size: 2vh;
  width: 11vh;
  border-radius: 2vh;
  background-color: rgb(197, 224, 248);
  justify-content: center;
  display: flex;
}

.name,
.description {
  padding: 1vh;
  margin: 1vh;
  font-size: 2vh;
  width: 41vh;
  border-radius: 2vh;
  background-color: rgb(197, 224, 248);
}

.Task {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0vh 1vh;
}

.completion {
  padding: 1vh 1.2vh;
  border-radius: 2vh;
  background-color: rgb(197, 224, 248);
  cursor: pointer;
}

.optionsBtn {
  padding: 1vh;
  font-size: 2vh;
  width: 13vh;
  border-radius: 2vh;
  border: none;
  background-color: rgb(197, 224, 248);
  justify-content: center;
  display: flex;
  cursor: pointer;
}
.trashIcon {
  width: 3vh;
}
