#headerRow {
  justify-content: center;
  max-width: 100%;
  display: flex;
  align-items: center;
  margin: 1vh;
}
#completion,
#date,
#options {
  padding: 1vh;
  font-size: 2vh;
  width: 11vh;
  border-radius: 2vh;
  background-color: rgb(197, 224, 248);
  justify-content: center;
  display: flex;
}

#name,
#description {
  padding: 1vh;
  margin: 1vh;
  font-size: 2vh;
  width: 41vh;
  border-radius: 2vh;
  background-color: rgb(197, 224, 248);
}

#taskContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: auto;
  max-height: 80vh;
}

#taskContainer::-webkit-scrollbar {
  background-color: white;
  width:10px;
}
#taskContainer::-webkit-scrollbar-thumb {
  background-color: rgb(197, 224, 248);
  border-radius:1vh;
}
