.completion,
.date,
.options {
  padding: 1vh;
  font-size: 2vh;
  width: 11vh;
  border-radius: 2vh;
  background-color: rgb(197, 224, 248);
  justify-content: center;
  height: 2vh;
  display: flex;
}

.date {
  align-items: center;
}

.name,
.description {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1vh;
  margin: 1vh;
  font-size: 2vh;
  width: 41vh;
  height: 2vh;
  border-radius: 2vh;
  background-color: rgb(197, 224, 248);
  text-overflow: ellipsis;
}

.Task {
  display: flex;
  align-items: center;
  justify-content: center;
}

.completion {
  padding: 1vh 1.2vh;
  border-radius: 2vh;
  background-color: rgb(197, 224, 248);
}

.checkbox {
  scale: 1.4;
  cursor: pointer;
}

.trashIcon {
  scale: 1.3;
}

.options {
  cursor: pointer;
}
